SECRET_KEY=hs6$#5om031nujz4staql9mbuste=!dc^6)4opsjq!vvjxzj@
DEBUG=True
ALLOWED_HOSTS=[]
DB_ENGINE=django.db.backends.postgresql
DB_NAME=netology_diplom_db
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

FLOWER_BASIC_AUTH=admin:flower_secure_pass_123

EMAIL_HOST=smtp.mail.ru
EMAIL_HOST_USER=netology.diplom@mail.ru
EMAIL_HOST_PASSWORD=CLdm7yW4U9nivz9mbexu
EMAIL_PORT=465